img {
    width: 100%;
    border-radius: 2px;
    object-fit: cover;
}

#scroll-progress {
    position: fixed;
    height: 10px;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}

.render{
    width: 0%;
    height: 100%;
    background-color: blue;
}